.d-md-flex {
  display: flex;
}

.hide-lg {
  display: none;
}

.nav-large {
  align-items: center;
}

.position-icon {
  position: relative;
}

.p-right {
  position: absolute;
  right: 0;
}

.main-menu-list {
  margin-left: 20px;
  justify-content: space-between;
}

.lg-show {
  display: block;
}

.top-menu {
  margin-left: 95px;
  background: #000;
  padding: 10px 20px;
  color: #fff;
  justify-content: space-between;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.01em;
  font-size: 0.8em;
}

.top-menu-right {
  width: 220px;
}

.top-menu-left ul {
  justify-content: space-around;
}

.top-menu-left ul li {
  margin-right: 10px;
}

.top-menu-right ul {
  justify-content: space-around;
}

.big-img img {
  position: absolute;
  width: 95px;
  height: 80px;
  z-index: 999;
}

.nav-large .main-menu-list-container {
  width: 600px;
}

.nav-btm {
  padding-left: 120px;
  text-align: left;
}

/* Main */

.intro-art article {
  padding: 0;
  margin: 0;
  height: unset;
}

.intro-art .first-art {
  height: 52vh;
}

.intro-art .second-art,
.intro-art .third-art {
  height: 25.3vh;
}

.intro-art .second-art {
  margin-bottom: 8px;
}

.second-column {
  height: 67vh;
}

.intro-art {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8px;
}

.latest-news {
  padding-top: 0;
}

.latest-news article {
  flex-direction: column;
}

.art-main-contain {
  flex-wrap: wrap;
}

.art-contain {
  width: 29vw;
  margin: 9px;
}

.art-contain .img-sync {
  height: 120px;
}

.art-contain .flex-art-right {
  margin: 7px 0;
}

.latest-funds .l-funds-container {
  width: 29vw;
  margin: 9px;
}