.hide-lg {
  display: none;
}

.nav-large {
  display: flex;
  align-items: center;
}

.position-icon {
  position: relative;
}

.p-right {
  position: absolute;
  right: 0;
}

.main-menu-list {
  margin-left: 20px;
}

.lg-show {
  display: block;
}

.top-menu {
  display: flex;
  margin-left: 95px;
  background: #000;
  padding: 10px 20px;
  color: #fff;
  justify-content: space-between;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0.01em;
  font-size: 0.8em;
}

.top-menu-right {
  width: 220px;
}

.top-menu-left ul {
  justify-content: space-around;
}

.top-menu-left ul li {
  margin-right: 10px;
}

.top-menu-right ul {
  justify-content: space-around;
}

.big-img img {
  position: absolute;
  width: 95px;
  height: 80px;
  z-index: 999;
}

.nav-large .main-menu-list-container {
  width: 600px;
}

.main-menu-list {
  justify-content: space-between;
}

.nav-btm {
  padding-left: 120px;
  text-align: left;
}

/* Main */

