.hide-lg {
  display: none;
}

.nav-large {
  display: flex;
  align-items: center;
}

.position-icon {
  position: relative;
}

.p-right {
  position: absolute;
  right: 0;
}

.main-menu-list {
  margin-left: 20px;
}

.lg-show {
  display: block;
}

.top-menu {
  display: flex;
  margin-left: 95px;
  background: #000;
  padding: 10px 20px;
  color: #fff;
}

.big-img img {
  position: absolute;
  width: 95px;
  height: 80px;
  z-index: 999;
}
